@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    color: var(--font-Primary);
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}


html {
    font-size: 62.5%;
    width: 445px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.container {
    margin: 24px;
}

h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 8px;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}

.header {
    display: flex;
}

.header .header-buttons {
    display: inherit;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.header .header-buttons:hover {
    background-color: #F1F5F9;
}

.header .header-buttons p {
    font-size: 1rem;
}

.solutions {
    display: flex;
    column-gap: 16px;
    margin-top: 24px;
    overflow: hidden;
}

.solutions .solution .left-side-content{
    width: 90px;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    padding: 8px;
}

.solutions .solution {
    display: flex;
    flex-direction: row;
}

.solutions .solution .right-side-content {
    display: none;
    flex-direction: column;
}

.solutions .solution .right-side .right-side-content h2 {
    margin-bottom: 8px;
}

.solutions .solution:hover {
    background-color: #F1F5F9;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
